S1{
display:block;
background-color:lightblue;
border-style:solid;
}
S2{
display:block;
background-color:orange;
border-style:dotted;
}
S3{
display:block;
background-color:lightgreen;
border-style:double;
}
d1{
display:block; 
background-color:white; 
font-size:25px;
}
name{
display:block; 
margin-left:100px; 
font-size:20px; 
color:green;
}
usn{
display:block;
margin-left:100px; 
font-size:20px; 
color:blue;
}
college{
display:block;
margin-left:100px; 
font-size:20px; 
color:yellow;
}
year{
display:block; 
margin-left:100px; 
font-size:20px; 
color:red;
}
branch{
display:block;
margin-left:100px; 
font-size:20px; 
color:black;
}
email{
display:block; 
margin-left:100px; 
font-size:20px; 
color:#767755; 
font-style:italic;
}
divd{
display:block; 
margin-left:600px; 
font-size:20px; 
color:#123355;
}
